<app-my-bottlecaps-nav></app-my-bottlecaps-nav>
<h5>Edit your collection</h5>
<hr />
<label for="exampleFormControlSelect1">Select bottlecap to edit</label>
<br />
<select class="form-control" id="exampleFormControlSelect1">
  <option>1</option>
  <option>2</option>
  <option>3</option>
  <option>4</option>
  <option>5</option>
</select>
<br />
<div class="row">
  <div class="col-md-3">
    <button type="button" class="btn btn-danger">Delete Bottlecap</button>
  </div>
  <div class="col-md-3">
    <button type="button" class="offset-md-1 btn btn-primary">Update Name</button>
  </div>
  <div class="col-md-6">
    <input type="text" class="form-control" placeholder="" aria-label="" >
  </div>
</div>

<hr />

<app-bottlecaps></app-bottlecaps>
