

<h4>Register a new account</h4>
<br />
<div *ngIf="!formRegister.valid"><p>Please enter email and password</p></div>
<form [formGroup]="formRegister" (ngSubmit)="register()">
  <input type="email"
         formControlName="email"
         placeholder="Email"
         id="emailRegister"
         class="form-control"
         name="emailRegister" />
  <br />
  <input type="password"
         formControlName="password"
         placeholder="Password"
         id="passwordRegister"
         class="form-control"
         name="passwordRegister" />

  <br />

  <button type="submit"
          class=""
          [disabled]="!formRegister.valid">
    Register
  </button>
</form>
<hr />
<h4>Log in</h4>
<br />
<form #logInForm="ngForm" (ngSubmit)="logIn(logInForm.value)">
  <input type="text"
         id="emailLogin"
         placeholder="Email"
         class="form-control"
         ngModel
         name="emailLogin" />

  <br />
  <input type="passwordLogin"
         id="passwordLogin"
         placeholder="Password"
         class="form-control"
         ngModel
         name="passwordLogin" />

  <br />
  <button type="submit"
          class="">
    Login
  </button>

</form>



