<div class="container">
  <h3>Welcome</h3>
  <b>Build the Greatest Health Care Community the World Has Ever Seen</b>
  <p>The Health Care Community Network <u>improves communication between different fields of medicine (1)</u>:</p>
  <ul>
    <li>Forum where users can share ideas <i>directly between facilities.</i> Prepares users in the facilities to make decisions at the appropriate level of the organization during the Covid-19 response. (2)</li>
    <li>A rapid-response platform for continuous innovation. (3)</li>
  </ul>
  <hr />
  <h4>Reasoning</h4>
  <ol>
    <li>In <i><a href="https://www.blinkist.com/en/books/pandemic-en" target="_blank">Pandemic</a></i>, Sonia Shah, as found on Blinkest, writes in the final summary: Civilization has brought many new pathogens with it and researchers think that a new pandemic will emerge in the decades ahead. In order to survive this we need to be aware of the origins and causes of these new pathogens. Crowds, waste management and a <i>lack of communciation between different fields of medicine</i> are only a few factors that contribute to the spreading of new diseases.</li>
    <li>Who Has the D? How Clear Decision Roles Enhance Organizational Performance by Paul Rogers and Marcia Blenko (HBR: 10 Must Reads on Strategy), pg. 239. In a section titled <i>Center Versus Business Unit</i>, they write "If too many decisions flow to the center, decision making can grind to a halt."</li>
    <li>In <a href="https://www.blinkist.com/en/books/friend-of-a-friend-en" target="_blank">Friend of a Friend</a>, David Burkus, as found on Blinkest, writes: "...a proper network will diversify teams and contacts, leading to increased productivity and innovation. Shared activities are also more likely to break down social barriers and build stronger networks, and always remember that great friendships can lead to fantastic business partnerships." </li>
  </ol>


</div>
