<div class="container">
  <div id="space" class="row space-image">

      <img id="space-image" src="assets/Mock-cafe.png" />
      <div class="bottlecap"
            cdkDragBoundary=".space-image"
            cdkDrag
            *ngFor="let spaceCap of this.spaceCaps"
            (cdkDragEnded)="onDragEnded($event, spaceCap)"
            [cdkDragFreeDragPosition]="{x:0,y:0}"
           (click)="setPlace(spaceCap)"
            >
        {{spaceCap.title}}<br />x:{{spaceCap.positionX}}<br />y:{{spaceCap.positionY}}
    </div>
  </div>
</div>
<button (click)="checkSpaces($event)">Check Spaces</button>
