<div class="container">
  <div #spaceArea id="space" class="col-md-12 space-image">

    <img id="space-image" src="assets/Mock-cafe.png" />
    <div class="bottlecap"
         cdkDragBoundary=".space-image"
         cdkDrag
         *ngFor="let spaceCap of this.spaceCaps; let i = index;"
         (cdkDragEnded)="onDragEnded($event, spaceCap, i)"
         [cdkDragFreeDragPosition]="this.dragPosition[i]"
         (click)="setDragPosition(spaceCap)"
         >
      {{spaceCap.title}}
      <br />id:{{spaceCap.bottlecapId}}
      <br />x:{{spaceCap.positionX}}
      <br />y:{{spaceCap.positionY}}
      <br />i: {{i}}
    </div>
  </div>
</div>
<button (click)="checkSpaces($event)">Check Spaces</button>
<button (click)="resetPositions()">Reset Positions</button>
